<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="情報科学実験I 第三章 DBMS + Node.js">
    <title>TapiocaPi ZIP/address Searcher</title>

    <link rel="shortcut icon" type="image/png" href="./img/favicon.png">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
  </head>

  <body>
    <div id="app">
      <div aria-live="polite" aria-atomic="true" style="position: fixed; min-height: 200px; z-index: 99999; top: 1rem; right: 1rem;">
        <div id="info-toast" class="toast" data-autohide="false">
          <div class="toast-header">
            <img src="img/favicon.png" width="25" height="25" class="rounded mr-2" alt="...">
            <strong class="mr-auto">Done!</strong>
            <small v-show="searchResults.length !== 0">
              {{ markers.length }} / {{ maxMarkers < searchResults.length ? maxMarkers : searchResults.length }}
            </small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            <!-- must be used with caution -->
            <span v-html="toastText"></span>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
          <img src="img/favicon.png" width="30" height="30" class="d-inline-block align-top rounded" alt="">
          <a class="navbar-brand mb-0 h1" href="#">TapiocaPi</a>
        </nav>
      </div>

      <div id="introduction-header" class="jumbotron jumbotron-fluid text-center text-light">
        <h1 class="display-3">TapiocaPi</h1>
        <p class="lead">A simple ZIP/address searcher SPA powered by Node.js/Vue.js/Bootstrap.</p>

        <div class="container">
          <div class="input-group-lg">
            <input class="form-control rounded-pill shadow" v-model="query" @input="onQueryInput" type="search"
              placeholder="郵便番号/住所を検索" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>

      <div class="mt-5"></div>
      <div class="container">
        <div class="mt-5"></div>
        <transition name="slide-fade" mode="out-in">
          <div id="alert-result-info" class="alert alert-primary" role="alert" :key="lastQuery" v-cloak>
            Result of: {{ lastQuery }}
          </div>
        </transition>

        <transition name="slide-fade" mode="out-in">
          <button type="button" class="btn btn-primary">
            Found <span class="badge badge-light" :key="searchResults" v-cloak>{{ searchResults.length }}</span>
            <span class="sr-only">the number of the addresses found</span>
          </button>
        </transition>

        <transition name="slide-fade" mode="out-in">
          <button type="button" class="btn btn-primary">
            Currently showed <span class="badge badge-light" :key="addrs" v-cloak>{{ addrs.length }}</span>
            <span class="sr-only">the number of the currently showed addresses</span>
          </button>
        </transition>

        <button v-bind:class="mapBtnClass" type="button" @click="onMapBtnClick" aria-expanded="false" v-cloak>
          {{ mapBtnDesc }}
        </button>

        <button v-bind:class="markerBtnClass" type="button" @click="onMarkerBtnClick" aria-expanded="false" v-cloak>
          {{ markerBtnDesc }}
        </button>

        <div class="loading" v-if="loading" v-cloak>Loading...</div>

        <div class="mt-5"></div>
        <transition name="slide-fade" mode="out-in">
          <div v-show="showMap">
            <div id="google_map" class="rounded"></div>
          </div>
        </transition>
      </div>

      <div class="container-fluid">
        <div class="mt-5"></div>
        <div class="table-responsive">
          <table class="table table-hover">
            <caption>List of the addresses</caption>
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>〒郵便番号</th>
                <th>都道府県</th>
                <th>市区町村</th>
                <th>町域</th>
                <th>カナ</th>
              </tr>
            </thead>
            <!--<transition-group name="slide-fade" tag="tbody">-->
            <!-- <tbody name="slide-fade" is="transition-group">-->
            <tbody>
              <tr v-for="(addr, index) in addrs" v-bind:key="addr" v-cloak>
                <th>{{ index + 1 }}</th>
                <th>{{ addr.zip }}</th>
                <th>{{ addr.addr1 }}</th>
                <th>{{ addr.addr2 }}</th>
                <th>{{ addr.addr3 }}</th>
                <th>{{ [addr.kana1, addr.kana2, addr.kana3].join(" ") }}</th>
              </tr>
              <!--</transition-group>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="assets/js/bootstrap.min.js"></script> -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>

    <script>
      const MAP_BTN_SHOW = "Show Google Map";
      const MAP_BTN_HIDE = "Hide Google Map";
      const MARKER_BTN_ENABLE = "Enable markers";
      const MARKER_BTN_DISABLE = "Disable markers";

      const BTN_ACTIVE = "btn btn-primary";
      const BTN_INACTIVE = "btn btn-secondary";

      let app = new Vue({
        el: '#app',
        data: {
          loading: false,     // show a loading spinner
          timer: null,        // timer for querying
          interval: 500,      // timer interval in millisec
          query: "",
          lastQuery: "",

          toastText: "",

          itemCount: 1000,
          rangeEnd:  1000,    // the end of the current range
          addrs: [],          // the addresses currently showed
          searchResults: [],

          showMap: true,
          mapBtnDesc: MAP_BTN_HIDE,
          mapBtnClass: BTN_ACTIVE,

          markersEnabled: true,
          markerBtnDesc: MARKER_BTN_DISABLE,
          markerBtnClass: BTN_ACTIVE,

          maxMarkers: 20,
          geocoder: null,     // Google Map Geocoder API
          map: null,          // Google Map API
          markers: [],
        },

        methods: {
          onQueryInput: function() {
            if (this.timer != null) {
              clearTimeout(this.timer);
            }

            if (this.query === '' || this.query === this.lastQuery) {
              return;
            }

            this.timer = setTimeout(async () => {
              this.loading = true;
              this.lastQuery = this.query;
              $('#info-toast').toast('dispose');
              console.log("DB search: " + this.query);

              const res = await axios.get("/db/search?q=" + this.query);
              res.data.forEach((row) => {
                row.zip = row.zip.slice(0, 3) + "-" + row.zip.slice(3);
              });

              console.log("DB search done");
              this.searchResults = res.data;
              this.addrs = this.searchResults.slice(0, this.itemCount);

              this.deleteMarkers();
              this.loading = false;

              this.drawGoogleMap();
            }, this.interval);
          },

          showInfoToast() {
            $('#info-toast').toast({
              animation: true,
            });
            $('#info-toast').toast('show');
          },

          onMapBtnClick() {
            this.showMap = !this.showMap;
            this.mapBtnDesc = this.showMap ? MAP_BTN_HIDE : MAP_BTN_SHOW;
            this.mapBtnClass = this.showMap ? BTN_ACTIVE : BTN_INACTIVE;
          },

          onMarkerBtnClick() {
            this.markersEnabled = !this.markersEnabled;
            this.markerBtnDesc = this.markersEnabled ? MARKER_BTN_DISABLE : MARKER_BTN_ENABLE;
            this.markerBtnClass = this.markersEnabled ? BTN_ACTIVE : BTN_INACTIVE;
          },

          initOnScroll() {
            window.onscroll = () => {
              /*
              console.log("onScroll called");
              console.log("scrollTop: " + document.documentElement.scrollTop);
              console.log("innerHeight: " + window.innerHeight);
              console.log("offsetHeight: " + document.documentElement.offsetHeight);
              */
              const atBottom =
                Math.ceil(document.documentElement.scrollTop) + window.innerHeight
                  === document.documentElement.offsetHeight;

              if (atBottom) {
                if (this.rangeEnd <= this.searchResults.length) {
                  console.log("REACHED BOTTOM");
                  this.addrs = this.searchResults.slice(0, this.rangeEnd + this.itemCount);
                  this.rangeEnd += this.itemCount;
                }
              }
            };
          },

          deleteMarkers() {
            this.markers.forEach((marker) => (marker.setMap(null)));
            this.markers = [];
          },

          putMarkers(i) {
            function putMarker(app, i, failed) {
              /* avoid Google Map Geocoder request limit */
              if (i >= app.searchResults.length || i >= app.maxMarkers || app.loading) {
                if (failed) {
                  app.toastText += "<br>Some errors have been reported."
                } else if (app.searchResults.length !== 0) {
                  app.toastText = "All markers loaded successfully.";
                }

                app.showInfoToast();
                return;
              }

              const row = app.searchResults[i];

              window.setTimeout(function() {
                app.geocoder.geocode({
                  'address': row.addr1 + row.addr2 + row.addr3,
                  'language': 'ja'
                }, (results, status) => {
                  if (app.loading) {
                    return;
                  }

                  console.log(i + ": Geocoder status: " + status);
                  if (status === google.maps.GeocoderStatus.OK) {
                    const address_geo = results[0].geometry.location;
                    const marker = new google.maps.Marker({
                      position: address_geo,
                      map: app.map,
                      label: (i + 1).toString(),
                      animation: google.maps.Animation.DROP,
                    });

                    marker.addListener('click', function(event) {
                      new google.maps.InfoWindow({
                        content: "#" + (i + 1) + " 〒" +
                          [row.zip, row.addr1, row.addr2, row.addr3].join(" ")
                      }).open(marker.getMap(), marker);
                    });

                    app.markers.push(marker);
                    putMarker(app, i + 1, failed);
                  } else {
                    if (status === google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                      putMarker(app, i, failed);
                    } else {
                      app.toastText += "<br>LatLng not found: " + [row.addr1, row.addr2, row.addr3].join(" ");
                      putMarker(app, i + 1, true);
                    }

                  }
                });
              }, 100);
            }

            putMarker(app, 0, false);
          },

          drawGoogleMap() {
            if (this.map === null) {
              this.map = new google.maps.Map(document.getElementById('google_map'), {
                center: new google.maps.LatLng(37.8608327,139.976796), /* Yonezawa */
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              });
            }

            if (this.geocoder === null) {
              this.geocoder = new google.maps.Geocoder();
            }

            if (!this.markersEnabled)
              return;

            if (this.timer !== null) {
              this.toastText = this.searchResults.length === 0 ?
                "⚠  No such ZIP or address found!" : "Now loading Google Map markers...";
              this.showInfoToast();

              this.putMarkers();
            }
          }
        },

        mounted() {
          this.initOnScroll();
        }
      });

      function initMap() {
        app.drawGoogleMap();
      }
    </script>
  </body>
</html>
